.about {
  @include padding-section;
  @include respond-to(large) {
    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 0;
      height: 0;
      border-right: 250px solid $colorBlue;
      border-top: 250px solid transparent;
    }
  }
}

.about__heading {
  text-align: center;
  @include margin-bottom-heading;
}

.about__text {
  text-align: center;
  margin-bottom: 0.5rem;
}

.about__icons {
  display: grid;
  grid-template-columns: repeat(auto-fit, 4.375rem);
  justify-content: center;
  align-items: center;
  grid-column-gap: 1.2rem;
  grid-row-gap: 1.2rem;
  margin-top: 2rem;
}

.about__html-logo,
.about__sass-logo,
.about__js-logo,
.about__webpack-logo,
.about__yarn-logo,
.about__git-logo {
  justify-self: center;
  height: auto;
}
