.contact {
  @include padding-section;
  padding-top: 0;
  @include respond-to(large) {
    padding-top: 3rem;
  }
}

.contact__heading {
  text-align: center;
  @include margin-bottom-heading;
}

.contact__form {
  max-width: 600px;
  margin: 0 auto;
}

.contact__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  @media screen and (min-width: 550px) {
    flex-direction: row;
  }
}

.contact__label {
  flex: 2;
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
}

