.contact {
  @include padding-section;
  }

.contact__heading {
  text-align: center;
  @include margin-bottom-heading;
}

.contact__form {
  max-width: 600px;
  margin: 0 auto;
}

.contact__row {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
  @media screen and (min-width: 550px) {
    flex-direction: row;
  }
}

.contact__label {
  flex: 2;
  margin-bottom: 0.5rem;
  margin-right: 0.2rem;
}

.contact__input {
  flex: 8;
  font-family: inherit;
  font-size: inherit;
  border-radius: 0;
  border: 1px solid #000;
  padding: 5px;
}

.contact__button {
  width: 100px;
  margin: 0 auto;
  display: block;
  font-family: inherit;
  font-size: inherit;
  padding: 5px;
  border: 2px solid #000;
  border-radius: 5px;
  background: none;
}

.contact__button--loading {
  position: relative;
  pointer-events: none;
  color: rgba(0, 0, 0, 0.1);
}

.contact__button--loading::after {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-right-color: rgba(0, 0, 0, 0.7);
  transform: translate(-50%, -50%) rotate(0deg);
  content: '';
  animation: rotateSingleLoading 0.3s infinite linear;
  z-index: 10;
}

@keyframes rotateSingleLoading {
  from {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.contact__wrong-answer,
.contact__success,
.contact__error {
  display: none;
}

.contact__error,
.contact__success {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate((-50%, -50%));
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  font-size: 2rem;
}

.contact__error {
  color: rgb(255, 0, 0);
}

.contact__success {
  color: rgb(0, 107, 32);
}
