.home {
  padding: 1rem;
  height: 100vh;
  overflow: hidden;
  background: #567dbf;
  display: flex;
  justify-content: center;
}

.home__heading {
  position: absolute;
  top: 2%;
  font-size: 5rem;
  justify-self: center;
  align-self: center;
  display: flex;
  padding-bottom: 20px;
}

.home__icon {
  fill: currentColor;
  overflow: visible;
}

.home__menu {
  height: 50vh;
  transform: rotate(-30deg);
  overflow: visible;
  position: fixed;
}

.home__cake {
  transition: all 0.2s linear;
  fill: #fcff4b;
  stroke: #000;
  stroke-width: 3px;
}

// HOME TYPING
.home__heading-char1,
.home__heading-char2,
.home__heading-char3,
.home__heading-char4,
.home__heading-char5 {
  color: transparent;
  border-right: 0.2rem solid transparent;
  animation: typing 0.4s;
  animation-fill-mode: forwards;
  position: relative;
  &::before {
    content: '';
    position: absolute;
    right: -4px;
    top: 0;
    height: 15px;
    width: 0.4rem;
    background: #567dbf;
  }
  &::after {
    content: '';
    position: absolute;
    right: -4px;
    bottom: 0;
    height: 15px;
    width: 0.4rem;
    background: #567dbf;
  }
}

.home__heading-char1 {
  animation-delay: 0.4s;
}

.home__heading-char2 {
  animation-delay: 0.8s;
}

.home__heading-char3 {
  animation-delay: 1.2s;
}

.home__heading-char4 {
  animation-delay: 1.6s;
}

.home__heading-char5 {
  padding-right: 2px;
  animation: typing 1s, blink 1s infinite;
  animation-delay: 2s;
}

@keyframes typing {
  from,
  to {
    color: #000;
    border-color: transparent;
  }
  70% {
    color: #000;
    border-color: #000;
  }
}

@keyframes blink {
  from,
  to {
    color: #000;
    border-color: transparent;
  }
  50% {
    border-color: #000;
  }
}

// HOME FACE
.home__face {
  transform-origin: center;
  transform: rotate(30deg);
  pointer-events: auto;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.home__face-color1 {
  fill: #ffce00;
}

.home__face-color2 {
  fill: #ffb100;
}

.home__face-color3 {
  fill: #ffe454;
}
