.home {
  padding: 1rem;
  height: 100vh;
  overflow: hidden;
  background: #567dbf;
  // display: grid;
  // justify-content: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-content: space-around;
}

.home__heading {
  font-size: 5rem;
  justify-self: center;
  align-self: center;
  display: flex;
  padding-bottom: 20px;
}

.home__icon {
  fill: currentColor;
  overflow: visible;
}

.home__menu {
  height: 50vh;
  transform: rotate(-30deg);
}

.home__cake {
  transition: all 0.2s linear;
  fill: #fcff4b;
  stroke: #000;
  stroke-width: 3px;
}
