.nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  overflow: hidden;
  @media screen and (min-width: 450px) {
    overflow: visible;
  }
  @include respond-to(large) {
    position: fixed;
  }
}

.nav__menu {
  height: 50vh;
  transform: rotate(-30deg);
  overflow: visible;
  @include respond-to(small) {
    position: fixed;
  }
}

.nav__icon {
  fill: currentColor;
  overflow: visible;
}

.nav__slice {
  transition: all 0.2s linear;
  fill: #fcff4b;
  stroke: #000;
  stroke-width: 3px;
}

.nav__face {
  transform-origin: center;
  transform: rotate(30deg);
  pointer-events: auto;
  &:hover,
  &:focus {
    cursor: pointer;
  }
}

.nav__face-color1 {
  fill: #ffce00;
}

.nav__face-color2 {
  fill: #ffb100;
}

.nav__face-color3 {
  fill: #ffe454;
}
