.portfolio {
  padding-top: 0;
  @include padding-section;
  @include respond-to(large) {
    padding-top: 3rem;
  }
}

.portfolio__heading {
  text-align: center;
  @include margin-bottom-heading;

  @include respond-to(large) {
    margin-bottom: 0;
  }
}

.portfolio__gallery-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70%;
}

.portfolio__gallery {
  display: grid;
  max-width: 1600px;
  width: 100%;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__picture {
  max-width: 952px;
  width: 100%;
  position: relative;
  font-size: 0;
}

.portfolio__image {
  width: 100%;
  height: auto;
}

.portfolio__image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background: rgba($color: #000000, $alpha: 0.7);
}

.portfolio__picture:hover .portfolio__image-overlay {
  opacity: 1;
}

.portfolio__link {
  display: inline-block;
  width: 100%;
  height: 100%;
}

.portfolio__icon {
  color: white;
  font-size: 4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: block;
}

.portfolio__text {
  position: absolute;
  bottom: 5%;
  font-size: 1.5rem;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  width: 100%;
}
