.portfolio {
  padding: 0 2rem;
}

.portfolio__heading {
  text-align: center;
}
.portfolio__gallery {
  display: grid;
  // max-width: 1600px;
  grid-column-gap: 2rem;
  grid-row-gap: 2rem;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}

.portfolio__picture {
  max-width: 952px;
  width: 100%;
  // cursor: pointer;
  position: relative;
  font-size: 0;
}

.portfolio__image {
  width: 100%;
  height: auto;
}

.portfolio__image-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.3s ease;
  background: rgba($color: #000000, $alpha: 0.7);
}
