@import 'variables.scss';
@import 'mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

html {
  font-family: 'Chakra Petch', sans-serif;
  @media screen and (min-width: 320px) {
    font-size: calc(16px + 4 * ((100vw - 320px) / 1080));
  }

  @media screen and (min-width: 1400px) {
    font-size: 20px;
  }
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: 0;
  &:focus {
    outline: thin dotted;
  }
}

abbr {
  text-decoration: none;
}

// IMPORT
@import 'fullpage.scss';
@import 'nav.scss';
@import 'home.scss';
@import 'about.scss';
@import 'portfolio.scss';
@import 'contact.scss';
@import 'footer.scss';
