@import 'variables.scss';
@import 'mixins.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  &::after,
  &::before {
    box-sizing: inherit;
  }
}

html {
  font-family: 'Chakra Petch', sans-serif;
  @media screen and (min-width: 20rem) {
    font-size: calc(1rem + 0.25 * ((100vw - 20rem) / 60));
  }

  @media screen and (min-width: 80rem) {
    font-size: 1.25rem;
  }
}

h2 {
  font-size: 2rem;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  outline: 0;
  &:focus {
    outline: thin dotted;
  }
}

// IMPORT
@import 'fullpage.scss';
@import 'nav.scss';
@import 'home.scss';
@import 'about.scss';
@import 'gallery.scss';
@import 'footer.scss';
